.description__country-name {
  position: relative;
  width: 425px;
  min-height: 79px;

  padding-bottom: 20px;
  //PixelPerfect
  margin-top: 7px;

  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  letter-spacing: -1.245px;
  color: $darkgrey;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-trip-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 175px;
    height: 3px;
    bottom: 3px;
    left: 0;
  }
}

@media (max-width: $tablet-width-only) {
  .description__country-name {
    width: 129px;
    min-height: 45px;

    margin: 0 auto;

    font-size: 30px;
    line-height: 45px;

    &::after {
      background-image: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .description__country-name {
    width: 288px;
    min-height: 36px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}

.description__text {
  width: 370px;

  //PixelPerfect
  margin-top: -30px;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: $darkgreyopacity;


  @media (max-width: $tablet-width-only) {
    width: 726px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}

.description__button {
  width: 250px;
  min-height: 75px;

  padding-top: 30px;
  padding-left: 40px;

  @media (max-width: $tablet-width-only) {
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 50px;

    padding-top: 19px;
    padding-left: 52px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    padding-left: 72px;
  }
}
