.feedback__wrapper {
  @media (max-width: $tablet-width-only) {
    width: 768px;
    height: 415px;

    //PixelPerfect
    margin-top: -50px;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
  }
}

.feedback__title {
  position: relative;
  width: 289px;
  min-height: 38px;

  //PixelPerfect
  padding-top: 28px;
  margin-left: 32px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.7px;
  color: $darkgrey;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-feedback-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 68px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .feedback__title {
    width: 228px;
    min-height: 27px;
    //PixelPerfect
    padding-left: 62px;

    font-size: 20px;
    line-height: 24px;

    &::after {
      background-image: url("../img/mobile-feedback-line.svg");
      bottom: 2px;
      left: 67px;
    }
  }
}

.feedback__text {
  width: 322px;

  //PixelPerfect
  margin-left: 32px;
  margin-top: -18px;
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.41px;
  color: $darkgreyopacity;

  @media (max-width: $mobile-width-only) {
    width: 228px;
    //PixelPerfect
    margin-top: -5px;
    margin-left: 20px;
    margin-bottom: 67px;
    text-align: center;
  }
}

.feedback__author {
  position: relative;

  width: 288px;
  min-height: 38px;
  //PixelPerfect
  margin-left: 32px;
  padding-left: 54px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.47px;
  color: $darkgrey;
}

// Картинки по странам
.feedback__wrapper--greece {
  @media (max-width: $tablet-width-only) {
    background-image: url("../img/tablet-feedback-greece.jpg");
    //PixelPerfect
    margin-top: -132px;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
    height: 415px;
    background-image: url("../img/mobile-feedback-greece.jpg");
    //PixelPerfect
    margin-top: 50px;
    margin-left: -16px;
  }
}

//Ретинизация
@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--greece {
      background-image: url("../img/tablet-feedback-greece@2x.jpg");
      background-size: 640px auto;
    }
  }
}

@media (max-width: $mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--greece {
      background-image: url("../img/mobile-feedback-greece@2x.jpg");
      background-size: 1536px auto;
    }
  }
}

.feedback__wrapper--albania {
  //PixelPerfect
  width: 700px;
  margin-left: 10px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/tablet-feedback-albania.jpg");
    //PixelPerfect
    width: 768px;
    margin-top: -132px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/mobile-feedback-albania.jpg");
    //PixelPerfect
    width: 320px;
    margin-top: 50px;
    margin-left: -16px;
  }
}

.feedback__title--albania {
  //PixelPerfect
  margin-left: 30px;
  margin-bottom: 45px;
}

//Ретинизация
@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--albania {
      background-image: url("../img/tablet-feedback-albania@2x.jpg");
      background-size: 640px auto;
    }
  }
}

@media (max-width: $mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--albania {
      background-image: url("../img/mobile-feedback-albania@2x.jpg");
      background-size: 1536px auto;
    }
  }
}

.feedback__wrapper--macedonia {
  //PixelPerfect
  width: 700px;
  margin-left: 10px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/tablet-feedback-macedonia.jpg");
    //PixelPerfect
    width: 768px;
    margin-left: 0;
    margin-top: -132px;
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/mobile-feedback-macedonia.jpg");
    //PixelPerfect
    width: 320px;
    margin-top: 50px;
    margin-left: -16px;
  }
}

.feedback__title--macedonia {
  //PixelPerfect
  margin-left: 30px;
  margin-bottom: 39px;
  padding-bottom: 20px;
}

//Ретинизация
@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--macedonia {
      background-image: url("../img/tablet-feedback-macedonia@2x.jpg");
      background-size: 640px auto;
    }
  }
}

@media (max-width: $mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--macedonia {
      background-image: url("../img/mobile-feedback-macedonia@2x.jpg");
      background-size: 1536px auto;
    }
  }
}

.feedback__wrapper--montenegro {
  //PixelPerfect
  width: 700px;
  margin-left: 10px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/tablet-feedback-montenegro.jpg");
    //PixelPerfect
    width: 768px;
    margin-left: 0;
    margin-top: -132px;
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/mobile-feedback-montenegro.jpg");
    //PixelPerfect
    width: 320px;
    margin-top: 50px;
    margin-left: -16px;
  }
}

.feedback__title--montenegro {
  //PixelPerfect
  margin-left: 25px;
  margin-bottom: 39px;
  padding-bottom: 13px;
}

//Ретинизация
@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--montenegro {
      background-image: url("../img/tablet-feedback-montenegro@2x.jpg");
      background-size: 640px auto;
    }
  }
}

@media (max-width: $mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--montenegro {
      background-image: url("../img/mobile-feedback-montenegro@2x.jpg");
      background-size: 1536px auto;
    }
  }
}

.feedback__wrapper--croatia {
  //PixelPerfect
  width: 700px;
  margin-left: 10px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/tablet-feedback-croatia.jpg");
    //PixelPerfect
    width: 768px;
    margin-left: 0;
    margin-top: -132px;
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/mobile-feedback-croatia.jpg");
    //PixelPerfect
    width: 320px;
    margin-top: 50px;
    margin-left: -16px;
  }
}

.feedback__title--croatia {
  //PixelPerfect
  margin-left: 25px;
  margin-bottom: 43px;
  padding-bottom: 13px;
}

//Ретинизация
@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--croatia {
      background-image: url("../img/tablet-feedback-croatia@2x.jpg");
      background-size: 640px auto;
    }
  }
}

@media (max-width: $mobile-width-only) {
  @media (min-resolution: 2dppx) {
    .feedback__wrapper--croatia {
      background-image: url("../img/mobile-feedback-croatia@2x.jpg");
      background-size: 1536px auto;
    }
  }
}

// Картинки по странам к авторам
.feedback__author--greece {
  //PixelPerfect
  margin-top: 55px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-feedback-greece.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 38px;
    height: 38px;
    top: -10px;
    left: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .feedback__author--greece {
    //PixelPerfect
    margin-left: 20px;

    &::before {
      background-image: url("../img/desktop-feedback-greece.jpg");
      top: -50px;
      left: 95px;
    }
  }
}

.feedback__author--albania {
  //PixelPerfect
  margin-top: 33px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-feedback-albania.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 38px;
    height: 38px;
    top: -10px;
    left: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .feedback__author--albania {
    //PixelPerfect
    margin-left: 40px;

    &::before {
      background-image: url("../img/desktop-feedback-albania.jpg");
      top: -50px;
      left: 75px;
    }
  }
}


.feedback__author--macedonia {
  //PixelPerfect
  margin-top: 33px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-feedback-macedonia.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 38px;
    height: 38px;
    top: -10px;
    left: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .feedback__author--macedonia {
    //PixelPerfect
    margin-left: 15px;

    &::before {
      background-image: url("../img/desktop-feedback-macedonia.jpg");
      top: -50px;
      left: 95px;
    }
  }
}

.feedback__author--montenegro {
  //PixelPerfect
  margin-top: 45px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-feedback-montenegro.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 38px;
    height: 38px;
    top: -10px;
    left: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .feedback__author--montenegro {
    //PixelPerfect
    margin-left: 20px;

    &::before {
      background-image: url("../img/desktop-feedback-montenegro.jpg");
      top: -50px;
      left: 95px;
    }
  }
}

.feedback__author--croatia {
  //PixelPerfect
  margin-top: 34px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-feedback-croatia.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 38px;
    height: 38px;
    top: -10px;
    left: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .feedback__author--croatia {
    //PixelPerfect
    margin-left: 0;

    &::before {
      background-image: url("../img/desktop-feedback-croatia.jpg");
      top: -50px;
      left: 110px;
    }
  }
}

// Картинки по странам к отзывам
.feedback__unit--greece {
  position: relative;

  width: 382px;
  min-height: 367px;
  //PixelPerfect
  margin-top: 114px;
  margin-left: 358px;

  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-biggreece.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 430px;
    height: 596px;
    //PixelPerfect
    top: -118px;
    left: -313px;
  }

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    top: 80px;
    left: 0;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    top: 55px;
    left: 1px;
  }
}

//Ретинизация на декстопной версии
@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .feedback__unit--greece {
      &::before {
        background-image: url("../img/desktop-biggreece@2x.jpg");
        background-size: 860px auto;
      }
    }
  }
}

.feedback__unit--albania {
  position: relative;
  width: 382px;
  min-height: 314px;
  //PixelPerfect
  margin-left: 358px;
  margin-top: 100px;

  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-bigalbania.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 430px;
    height: 596px;
    //PixelPerfect
    top: -147px;
    left: -320px;
  }

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    top: 100px;
    left: 0;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    top: 110px;
    left: 1px;
  }
}

//Ретинизация на декстопной версии
@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .feedback__unit--albania {
      &::before {
        background-image: url("../img/desktop-bigalbania@2x.jpg");
        background-size: 860px auto;
      }
    }
  }
}

.feedback__unit--macedonia {
  position: relative;

  width: 382px;
  min-height: 367px;
  //PixelPerfect
  margin-top: 71px;
  margin-left: 336px;

  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-bigmacedonia.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 430px;
    height: 596px;
    //PixelPerfect
    top: -115px;
    left: -301px;
  }

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    top: 80px;
    left: 0;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    top: 45px;
    left: 1px;
  }
}

//Ретинизация на декстопной версии
@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .feedback__unit--macedonia {
      &::before {
        background-image: url("../img/desktop-bigmacedonia@2x.jpg");
        background-size: 860px auto;
      }
    }
  }
}

.feedback__unit--montenegro {
  position: relative;

  width: 350px;
  min-height: 285px;
  //PixelPerfect
  margin-top: 85px;
  margin-left: 360px;

  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-bigmontenegro.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 430px;
    height: 596px;
    //PixelPerfect
    top: -158px;
    left: -325px;
  }

  @media (max-width: $tablet-width-only) {
    width: 370px;
    //PixelPerfect
    top: 150px;
    left: 0;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    width: 268px;
    top: 140px;
    left: 1px;
  }
}

//Ретинизация на декстопной версии
@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .feedback__unit--montenegro {
      &::before {
        background-image: url("../img/desktop-bigmontenegro@2x.jpg");
        background-size: 860px auto;
      }
    }
  }
}

.feedback__unit--croatia {
  position: relative;

  width: 382px;
  min-height: 367px;
  //PixelPerfect
  margin-top: 70px;
  margin-left: 357px;

  background-color: $white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-bigcroatia.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 430px;
    height: 596px;
    //PixelPerfect
    top: -114px;
    left: -325px;
  }

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    top: 80px;
    left: 0;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    top: 40px;
    left: 1px;
  }
}

//Ретинизация на декстопной версии
@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .feedback__unit--croatia {
      &::before {
        background-image: url("../img/desktop-bigcroatia@2x.jpg");
        background-size: 860px auto;
      }
    }
  }
}

@media (max-width: $tablet-width-only) {
  .feedback__unit {
    //PixelPerfect
    margin: 0 auto;
    margin-top: 163px;

    &::before {
      background-image: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .feedback__unit {
    width: 268px;
    min-height: 431px;
    //PixelPerfect
    margin-top: 50px;

    &::before {
      background-image: none;
    }
  }
}
