.form__fieldset {
  border: none;
  //Pixel Perfect
  margin-left: 50px;
}

.form__list {
  display: flex;

  @include reset-list;
}

.form__field {
  width: 269px;
  min-height: 50px;

  &::placeholder {
    padding-top: 16px;
    padding-left: 15px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $darkblack;
  }
}

.form__field--telephone {
  margin-right: 19px;
}
