.main-nav__list {
  @include reset-list;

  display: flex;
  flex-direction: row;
  width: 300px;

  //PixelPerfect
  margin-top: 35px;
  margin-left: 18px;
}

.main-nav__toggle {
  display: none;
}

.main-nav__close {
  display: none;
}

@media (max-width: $tablet-width-only) {
  .main-nav__list {
    display: inline-block;
    height: 568px;

    position: relative;
    top: 0;
    left: -670px;
  }

  .main-nav__list--close {
    display: none;
  }

  .main-nav__toggle {
    position: relative;
    display: block;
    width: 72px;
    height: 48px;

    background-color: $carrot;
    border: none;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/burger-menu.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 10px;
      left: 21px;
      width: 30px;
      height: 30px;
    }
  }

  .main-nav__toggle--close {
    display: none;
  }

  .main-nav__close--active {
    position: absolute;
    display: block;

    background-color: transparent;
    border: none;
    cursor: pointer;

    background-image: url("../img/close-menu.svg");
    background-repeat: no-repeat;
    top: 60px;
    right: 105px;
    width: 22px;
    height: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__list {
    top: 0;
    left: -245px;
  }

  .main-nav__toggle {
    width: 50px;

    &::before {
      left: 10px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav__close--active {
    top: 65px;
    right: 200px;
  }
}
