.offer {
  width: 390px;

  @media (max-width: $tablet-width-only) {
    width: 726px;
  }

  @media (max-width: $mobile-width-only) {
    width: 296px;
  }
}

.offer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $darkblack;

  @media (max-width: $tablet-width-only) {
    width: 288px;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.offer__text {
  width: 320px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $shadowlightgrey;

  @media (max-width: $tablet-width-only) {
    width: 726px;
    margin: 0 auto;
    margin-top: 20px;

    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}
