.page-footer {
  width: 100vw;
}

.page-footer__wrapper {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  //PixelPerfect
  padding-top: 53px;
  padding-left: 27px;
  padding-bottom: 75px;

  @media (max-width: $tablet-width-only) {
    max-width: 768px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    //PixelPerfect
    padding-top: 58px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
    padding-bottom: 25px;
  }
}

.page-footer__countries {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-footer-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1px;
    height: 189px;
    top: 15px;
    right: 0;
  }

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    margin-left: 8px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer__countries {
    &::after {
      background-image: url("../img/mobile-footer-line.svg");
      width: 288px;
      height: 1px;
      bottom: 0;
      left: 0;
    }
  }
}

.page-footer__contacts {
  position: relative;
  padding-left: 90px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-footer-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1px;
    height: 189px;
    top: 15px;
    right: 0;
  }
}

@media (max-width: $tablet-width-only) {
  .page-footer__contacts {
    //PixelPerfect
    padding-left: 55px;

    &::after {
      background-image: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer__contacts {
    &::after {
      background-image: url("../img/mobile-footer-line.svg");
      width: 288px;
      height: 1px;
      bottom: 0;
      left: 0;
    }
  }
}

.page-footer__offer {
  padding-left: 49px;
  box-sizing: border-box;
}

@media (max-width: $tablet-width-only) {
  .page-footer__offer {
    position: relative;

    //PixelPerfect
    margin-top: 29px;
    padding-left: 18px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/tablet-footer-line.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 726px;
      height: 1px;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-footer__offer {
    &::before {
      background-image: none;
    }
  }
}
