.page-header {
  width: 100vw;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;

  width: 1160px;
  min-height: 100px;
  margin: 0 auto;

  background-color: $white;
  color: $darkblack;

  @media (max-width: $tablet-width-only) {
    max-width: 768px;
    min-height: 48px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
  }
}

.page-header__logo {
  width: 65px;
  height: 26px;

  //PixelPerfect
  margin-left: -5px;
  margin-top: 38px;
  margin-right: 610px;

  @media (max-width: $tablet-width-only) {
    width: 44px;
    height: 17px;
    //PixelPerfect
    margin-left: 20px;
    margin-top: 14px;
    margin-right: 631px;
  }

  @media (max-width: $mobile-width-only) {
    margin-right: 210px;
  }
}

.page-header__telephone {
  width: 223px;
  //PixelPerfect
  margin-top: 36px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.page-header__number {
  position: relative;
  //PixelPerfect
  margin: 0;
  margin-left: -25px;
  padding-left: 15px;

  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-decoration-line: underline;
  color: $darkblack;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 30px;
    top: -4px;
    left: -27px;
  }
}

.page-header__number:hover {
  color: $carrot;

  &::before {
    background-image: url("../img/hover-phone.svg");
  }
}
