.prices {
  width: 100vw;
}

.prices__wrapper {
  width: 1450px;
  margin: 0 auto;
  margin-bottom: 138px;

  @media (max-width: $tablet-width-only) {
    max-width: 768px;
    //PixelPerfect
    margin-top: 25px;
    margin-bottom: 125px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
    //PixelPerfect
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.prices__unit {
  display: flex;
  //PixelPerfect
  margin-left: 143px;

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
    //PixelPerfect
    margin-left: -20px;
  }
}

.prices__header {
  display: flex;
  flex-direction: column;

  order: 2;
  margin-left: 110px;
  //PixelPerfect
  margin-top: 85px;

  @media (max-width: $tablet-width-only) {
    order: 1;
    //PixelPerfect
    margin-left: 20px;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    margin-left: 15px;
    margin-top: 0;
  }
}

.prices__title {
  position: relative;
  width: 295px;
  min-height: 79px;

  padding-bottom: 15px;

  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $darkgrey;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-trip-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 175px;
    height: 3px;
    bottom: 0;
    left: 0;
  }
}


@media (max-width: $tablet-width-only) {
  .prices__title {
    width: 158px;
    min-height: 45px;

    margin: 0 auto;
    //PixelPerfect
    padding-top: 2px;
    padding-left: 65px;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 45px;

    &::after {
      background-image: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .prices__title {
    width: 288px;
    min-height: 36px;

    //PixelPerfect
    padding-left: 130px;

    font-size: 24px;
    line-height: 36px;
  }
}

.prices__text {
  width: 295px;
  min-height: 79px;

  //PixelPerfect
  margin-top: -15px;
  margin-bottom: 46px;

  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $darkgreyopacity;

  @media (max-width: $tablet-width-only) {
    width: 726px;
    min-height: 84px;
    text-align: center;
    //PixelPerfect
    margin-bottom: 30px;
    margin-left: 20px;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    min-height: 215px;

    margin-bottom: 20px;
  }
}

.prices__contact {
  width: 249px;

  //PixelPerfect
  margin-left: 45px;

  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $darkblack;

  @media (max-width: $tablet-width-only) {
    width: 175px;
    min-height: 34px;

    margin: 0 auto;
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 34px;
  }
}

.prices__number {
  position: relative;
  width: 249px;

  padding-left: 45px;
  //PixelPerfect
  margin-top: -10px;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/prices-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 30px;
    bottom: 0;
    left: -5px;
  }
}

@media (max-width: $tablet-width-only) {
  .prices__number {
    width: 194px;
    min-height: 32px;

    margin: 0 auto;
    margin-bottom: 13px;
    padding-left: 0;

    font-size: 18px;
    color: $carrot;
    text-decoration: underline;

    &::before {
      background-image: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .prices__number {
    margin-bottom: 20px;
  }
}

.prices__list {
  @include reset-list;

  display: flex;
  column-gap: 30px;

  @media (max-width: $tablet-width-only) {
    order: 2;

    column-gap: 50px;
    //PixelPerfect
    margin-left: 90px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    //PixelPerfect
    margin-left: 35px;
  }
}
