.promotion__item {
  width: 370px;
  min-height: 672px;

  //PixelPerfect
  margin-top: 16px;

  border: 1px solid $greyopacity;
  box-sizing: border-box;
  border-radius: 6px 6px 0 0;

  @media (max-width: $tablet-width-only) {
    width: 288px;
    min-height: 629px;
    //PixelPerfect
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 10px;
    min-height: 620px;
  }
}

.promotion__name {
  //PixelPerfect
  margin-bottom: 37px;
  margin-left: 27px;

  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: $greylight;

  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-direction: column;
    //PixelPerfect
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 13px;

    font-size: 24px;
    text-align: center;
  }
}

.promotion__amount {
  //PixelPerfect
  letter-spacing: -1.3px;
}

.promotion__amount--complex {
  padding-left: 20px;

  @media (max-width: $tablet-width-only) {
    padding: 0;
    letter-spacing: 0;
  }
}

.promotion__amount--economy {
  padding-left: 60px;

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    padding-left: 0;
    padding-top: 5px;
    letter-spacing: 0px;
  }
}

.promotion__name--economy {
  //PixelPerfect
  margin-top: 40px;
  margin-left: 25px;
  letter-spacing: -0.8px;

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    margin-top: 27px;
    margin-left: 8px;
    margin-bottom: 10px;
  }
}

.promotion__text {
  position: relative;
  width: 289px;
  min-height: 48px;
  //PixelPerfect
  margin-left: 26px;
  padding-bottom: 28px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $darkgrey;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-price-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 310px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: $tablet-width-only) {
  .promotion__text {
    width: 248px;
    min-height: 71px;

    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;

    &::after {
      background-image: url("../img/tablet-price-line.svg");
      width: 248px;
      height: 1px;
    }
  }
}

.promotion__bundle {
  @include reset-list;

  //PixelPerfect
  margin-top: 30px;

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    margin-top: 22px;
  }
}

.promotion__option {
  position: relative;
  width: 280px;

  //PixelPerfect
  padding-left: 26px;
  margin-left: 30px;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $darkgrey;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-price-point.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 14px;
    height: 12px;
    top: 9px;
    left: -4px;
  }
}

@media (max-width: $tablet-width-only) {
  .promotion__option {
    width: 218px;

    //PixelPerfect
    margin-bottom: 10px;
    margin-left: 25px;
  }

  .promotion__option--economy {
    //PixelPerfect
    margin-bottom: 12px;
  }
}

.promotion__option--complex {
  //PixelPerfect
  margin-bottom: 10px;


  &:last-child {
    margin-bottom: 12px;
  }
}

.promotion__button {
  width: 310px;
  min-height: 75px;

  //PixelPerfect
  margin-top: 30px;
  margin-left: 26px;
  padding-top: 30px;
  padding-left: 70px;

  @media (max-width: $tablet-width-only) {
    width: 288px;
    min-height: 50px;

    margin: 0;
    padding-top: 19px;
    padding-left: 72px;
  }
}

.promotion__button--complex {
  //PixelPerfect
  margin-top: 53px;
}

@media (max-width: $tablet-width-only) {
  .promotion__button--complex {
    margin-top: 45px;
  }

  .promotion__button--economy {
    margin-top: 30px;
  }
}

@media (max-width: $mobile-width-only) {
  .promotion__button--complex {
    margin-top: 30px;
  }
  .promotion__button--economy {
    margin-top: 25px;
  }
}

//Интерактивность карточки
.promotion__item:hover {
  border: 3px solid $carrot;
}

.promotion__item:hover .promotion__name {
  color: $carrot;
}

.promotion__item:hover .promotion__text {
  &::after {
    background-image: url("../img/desktop-hover-price-line.svg");
  }
}

.promotion__item:hover .promotion__option {
  &::before {
    background-image: url("../img/hover.svg");
    width: 22px;
    height: 22px;
  }
}
