/*.site-list {
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 690px;
  }

  @media (min-width: $desktop-width) {
    width: 1040px;
  }
}*/

.site-list__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 50px;
  }
}

.site-list__link {
  //display: block;
  //box-sizing: border-box;
  //padding-top: 11px;
  //min-height: 55px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $darkblack;

  &:hover {
    color: $carrot;
  }
}
