.slider__list {
  @include reset-list;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  //PixelPerfect
  padding-bottom: 15px;
  margin-bottom: 80px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-slider-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 900px;
    height: 1px;
    bottom: 4px;
    left: 0;
  }

  @media (max-width: $tablet-width-only) {
    flex-wrap: nowrap;
    overflow: scroll;
    //PixelPerfect
    margin-left: 40px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    margin-top: -57px;
    margin-bottom: 23px;
    margin-left: 15px;
  }
}

.slider__item {
  //PixelPerfect
  margin-right: 99px;
}

.slider__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.415px;
  color: $greyopacity;
}

.slider__link--active {
  color: $carrot;
}
