.trip {
  width: 100vw;
}

.trip__wrapper {
  width: 1165px;
  margin: 0 auto;
  //PixelPerfect
  margin-top: 200px;

  @media (max-width: $tablet-width-only) {
    max-width: 768px;
    //PixelPerfect
    margin-top: 80px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
    //PixelPerfect
    margin-top: 83px;
  }
}

.trip__title {
  position: relative;
  width: 358px;
  min-height: 160px;

  padding-bottom: 32px;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: $darkgrey;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../img/desktop-trip-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 229px;
    height: 4px;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__title {
    width: 301px;
    min-height: 45px;
    margin: 0 auto;

    //PixelPerfect
    padding-left: 9px;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;

    &::after {
      background-image: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .trip__title {
    width: 288px;
    min-height: 36px;

    font-size: 24px;
    line-height: 36px;

    //PixelPerfect
    padding-left: 43px;
  }
}

.trip__slogan {
  width: 328px;
  min-height: 56px;

  margin-bottom: 56px;
  //PixelPerfect
  margin-top: -15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: $darkgreyopacity;

  @media (max-width: $tablet-width-only) {
    width: 343px;
    margin: 0 auto;

    //PixelPerfect
    margin-top: -10px;
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    margin-bottom: 20px;
  }
}

.trip__catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include reset-list;

  //PixelPerfect
  margin-bottom: 97px;

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    margin-left: 81px;
    margin-top: -2px;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    margin-left: 15px;
    margin-top: 0;
  }
}

.trip__unit {
  position: relative;
  width: 350px;
  height: 430px;

  @media (max-width: $tablet-width-only) {
    width: 288px;
    height: 425px;
  }
}

.trip__link {
  position: absolute;
  display: none;
  width: 350px;
  height: 430px;
  background-color: $greylightopacity;
  top: -15px;
  left: 0;
}

.trip__unit:hover .trip__link {
  display: flex;

  @media (max-width: $tablet-width-only) {
    width: 288px;
    height: 425px;
  }
}

.trip__name {
  width: 215px;
  min-height: 61px;

  margin: 0 auto;
  //PixelPerfect
  margin-left: 68px;
  margin-top: 369px;
  padding-top: 16px;

  background-color: $white;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.415px;
  color: $darkgrey;

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    margin-left: 35px;
    margin-top: 364px;
  }
}

.trip__button {
  width: 280px;
  height: 77px;
  border: 1px solid $whiteopacity;
  box-sizing: border-box;
  padding: 30px 25px;

  //PixelPerfect
  margin-top: 210px;
  margin-left: 42px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  color: $white;

  @media (max-width: $tablet-width-only) {
    margin: auto;
  }
}

.trip__unit--greece {
  background-image: url("../img/desktop-greece.jpg");

  //PixelPerfect
  margin-right: 60px;
  margin-bottom: 100px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/greecepic.jpg");

    //PixelPerfect
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--greece {
    //PixelPerfect
    margin-right: 0;
    margin-bottom: 34px;

    &::before {
      bottom: 0;
      left: -35px;
    }
  }
}

@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .trip__unit--greece {
      background-image: url("../img/desktop-greece@2x.jpg");
      background-size: 700px auto;
    }
  }
}

@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .trip__unit--greece {
      background-image: url("../img/greecepic@2x.jpg");
      background-size: 576px auto;
    }
  }
}

.trip__unit--albania {
  background-image: url("../img/desktop-albania.jpg");
  //PixelPerfect
  margin-right: 55px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/albaniapic.jpg");
    //PixelPerfect
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--albania {
    //PixelPerfect
    margin-right: 0;
    margin-bottom: 35px;

    &::before {
      bottom: 0;
      left: -35px;
    }
  }
}

@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .trip__unit--albania {
      background-image: url("../img/desktop-albania@2x.jpg");
      background-size: 700px auto;
    }
  }
}

@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .trip__unit--albania {
      background-image: url("../img/albaniapic@2x.jpg");
      background-size: 576px auto;
    }
  }
}

.trip__unit--macedonia {
  background-image: url("../img/desktop-macedonia.jpg");
  //PixelPerfect
  margin-right: 0;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/macedoniapic.jpg");
    //PixelPerfect
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--macedonia {
    //PixelPerfect
    margin-right: 0;
    margin-bottom: 36px;

    &::before {
      bottom: 0;
      left: -35px;
    }
  }
}

@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .trip__unit--macedonia {
      background-image: url("../img/desktop-macedonia@2x.jpg");
      background-size: 700px auto;
    }
  }
}

@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .trip__unit--macedonia {
      background-image: url("../img/macedoniapic@2x.jpg");
      background-size: 576px auto;
    }
  }
}

.trip__unit--montenegro {
  background-image: url("../img/desktop-montenegro.jpg");
  //PixelPerfect
  margin-left: 175px;
  margin-right: 120px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/montenegropic.jpg");
    //PixelPerfect
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--montenegro {
    //PixelPerfect
    margin-right: 0;
    margin-bottom: 24px;

    &::before {
      bottom: 0;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .trip__unit--monteengro {
      background-image: url("../img/desktop-montenegro@2x.jpg");
      background-size: 700px auto;
    }
  }
}

@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .trip__unit--montenegro {
      background-image: url("../img/montenegropic@2x.jpg");
      background-size: 576px auto;
    }
  }
}

.trip__unit--croatia {
  background-image: url("../img/desktop-croatia.jpg");

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/croatiapic.jpg");
    //PixelPerfect
    margin-top: 10px;
    margin-left: 160px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--croatia {
    //PixelPerfect
    margin-right: 0;
    margin-left: 0;

    &::before {
      bottom: 0;
      left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  @media (min-resolution: 2dppx) {
    .trip__unit--croatia {
      background-image: url("../img/desktop-croatia@2x.jpg");
      background-size: 700px auto;
    }
  }
}

@media (max-width: $tablet-width-only) {
  @media (min-resolution: 2dppx) {
    .trip__unit--croatia {
      background-image: url("../img/croatiapic@2x.jpg");
      background-size: 576px auto;
    }
  }
}

.trip__list {
  @include reset-list;
}

.trip__item {
  display: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../img/feedback-background.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1444px;
    height: 1089px;
    top: 13px;
    left: -145px;
    z-index: -10;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__item {
    &::after {
      background-image: none;
    }
  }
}

.trip__item--active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 240px;

  @media (max-width: $tablet-width-only) {
    //PixelPerfect
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    margin-left: 15px;
    margin-bottom: 110px;
  }
}
