.trip {
  width: 100vw;
  //margin: 0 auto;
}

.trip__wrapper {
  width: 1450px;
  margin: 0 auto;
  //PixelPerfect
  margin-top: 200px;

  @media (max-width: $tablet-width-only) {
    max-width: 768px;
    //PixelPerfect
    margin-top: 80px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
    //PixelPerfect
    margin-top: 108px;
    outline: 1px solid blue;
  }
}

.trip__title {
  position: relative;
  width: 358px;
  min-height: 160px;

  padding-bottom: 30px;

  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: $darkgrey;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../img/desktop-trip-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 229px;
    height: 4px;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__title {
    width: 301px;
    min-height: 45px;
    margin: 0 auto;

    font-size: 30px;
    line-height: 45px;

    &::after {
      background-image: none;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .trip__title {
    width: 288px;
    min-height: 36px;

    font-size: 24px;
    line-height: 36px;

    //PixelPerfect
    padding-left: 50px;
  }
}

.trip__slogan {
  width: 328px;
  min-height: 56px;

  margin-bottom: 56px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: $darkgreyopacity;

  @media (max-width: $tablet-width-only) {
    width: 343px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
    margin-bottom: 20px;
  }
}

.trip__catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include reset-list;
}

.trip__unit {
  position: relative;

  width: 215px;
  min-height: 61px;
  background-color: $white;

  //Попытка выровнять бокс для картинки
  //PixelPerfect
  margin-top: 367px;
  margin-left: 68px;
  //margin-right: 67px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.415px;
  color: $darkgrey;
  //Попытка выровнять текст
  //PixelPerfect
  padding-top: 17px;
  box-sizing: border-box;

  @media (max-width: $tablet-width-only) {
    margin-top: 364px;
    margin-left: 36px;
  }
}

// Картинки, соотв. странам
.trip__unit--greece {
  margin-right: 120px;
  margin-bottom: 101px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-greece.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 350px;
    height: 430px;
    bottom: 0;
    left: -68px;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__unit--greece {
    margin-right: 29px;
    margin-bottom: 19px;

    &::before {
      background-image: url("../img/greecepic.jpg");
      width: 288px;
      height: 425px;
      bottom: 0;
      left: -35px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--greece {
    //PixelPerfect
    margin-right: 0;
    //margin-bottom: 19px;

    &::before {
      bottom: 0;
      left: -35px;
    }
  }
}

.trip__unit--albania {
  margin-right: 120px;
  margin-bottom: 101px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/desktop-albania.jpg");
    z-index: -1;

    background-repeat: no-repeat;
    background-position: 0 0;
    width: 350px;
    height: 430px;
    bottom: 0;
    left: -68px;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__unit--albania {
    margin-bottom: 20px;

    &::before {
      background-image: url("../img/albaniapic.jpg");
      width: 288px;
      height: 425px;
      //PixelPerfect
      bottom: 0;
      left: -35px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--albania {
    //PixelPerfect
    margin-right: 0;
    //margin-bottom: 19px;

    &::before {
      bottom: 0;
      left: -35px;
    }
  }
}

.trip__unit--macedonia {
  margin-right: 120px;
  margin-bottom: 101px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-macedonia.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 350px;
    height: 430px;
    bottom: 0;
    left: -68px;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__unit--macedonia {
    margin-right: 30px;
    margin-bottom: 30px;

    &::before {
      background-image: url("../img/macedoniapic.jpg");
      width: 288px;
      height: 425px;
      //PixelPerfect
      bottom: 0;
      left: -35px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--macedonia {
    //PixelPerfect
    margin-right: 0;
    //margin-bottom: 19px;

    &::before {
      bottom: 0;
      left: -35px;
    }
  }
}

.trip__unit--montenegro {
  //PixelPerfect
  margin-left: 225px;
  margin-right: 180px;
  margin-bottom: 97px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    background-image: url("../img/desktop-montenegro.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 350px;
    height: 430px;
    bottom: 0;
    left: -68px;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__unit--montenegro {
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;

    &::before {
      background-image: url("../img/montenegropic.jpg");
      width: 288px;
      height: 425px;
      //PixelPerfect
      bottom: 0;
      left: -35px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--montenegro {
    //PixelPerfect
    margin-right: 0;
    //margin-bottom: 19px;

    &::before {
      bottom: 0;
      left: 0;
    }
  }
}

.trip__unit--croatia {
  margin-bottom: 97px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("../img/desktop-croatia.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 350px;
    height: 430px;
    bottom: 0;
    left: -68px;
  }
}

@media (max-width: $tablet-width-only) {
  .trip__unit--croatia {
    margin-left: 240px;
    margin-bottom: 100px;

    &::before {
      background-image: url("../img/croatiapic.jpg");
      width: 288px;
      height: 425px;
      //PixelPerfect
      bottom: 0;
      left: -35px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .trip__unit--croatia {
    //PixelPerfect
    margin-right: 0;
    margin-left: 0;
    //margin-bottom: 19px;

    &::before {
      bottom: 0;
      left: 0;
    }
  }
}

// ===============================  Вторая часть раздела; СЛАЙДЕР ============================ //
.trip__list {
  @include reset-list;
}

.trip__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 240px;

  @media (max-width: $mobile-width-only) {
    //PixelPerfect
    margin-left: 15px;
    margin-bottom: 110px;
  }
}
