// Colors
$black: #000000;
$darkblack: #141517;
$lightblack: #48494d;
$darkgrey: #2c2e3f;
$darkgreyopacity: rgba(44, 46, 63, 0.7);
$greyopacity: rgba(44, 46, 63, 0.3);
$greylight: rgba(20, 21, 23, 0.7);
$shadowgrey: rgba(41, 54, 66, 0.1);
$shadowlightgrey: rgba(20, 21, 23, 0.5);
$white: #ffffff;
$darkwhite: #fbf8f8;
$carrot: #fe7865;
$orange: #f17d4b;

// Viewports
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
